body {
    font-family: Arial;
    background: #f2f2f2;
}

.productos {
    display: flex;
    gap: 20px;
}

.producto {
    background: white;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
}

.producto img {
    width: 100%;
}
